.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link {
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #343a40;
  color: #ffffff;
}

.nav-link.active {
  background-color: #007bff;
  color: #ffffff;
}


@media (max-width: 768px) {
  .nav-link {
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-right: 0;
  }
}
